.contacts {
  display: grid;
  gap: 10px;
}

.contact {
  display: grid;
  gap: 10px;
  grid-auto-columns: 10px auto;
  grid-auto-flow: column;
  border: 1px solid #000;
  border-radius: 15px;
  overflow: hidden;
}

.contact-status {
  background: #3971ff;
}

.contact-data {
  padding: 10px 0;
  display: grid;
  gap: 10px;
}