* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

a {
  text-decoration: none;
}

html {
  scrollbar-width: none;
}

body {
  font-family: Arial, sans-serif;
}

.modal {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #d6d6d6;
}